Given a list of positive integers, find the factorial of all the numbers.

In [ ]:
lst=[5,6,9,8,7,6,4,6,3,5,4]
for i in lst:
    num=1
    for j in range(1,i+1):
        num=num*j
    print("factorial of",i,"is",num)

Given two numbers, find its Least Common Multiple (LCM).

In [5]:
a=int(input("a"))
b=int(input("b"))
num=1
if a==b or b%a==0:
    print("lcm is",b)
elif a%b==0:
    print("lcm is",a)
elif a>b:
    for i in range(2,a+1):
        if a%i==0 and b%i==0:
            num=num*i
            a=a/i
            b=b/i
        elif a%i==0:
            num=num*i
            a=a/i
        elif b%i==0:
            num=num*i
            b=b/i
        else:
            num=num*1
    print(num)
elif b>a:
    for i in range(2,b+1):
        if a%i==0 and b%i==0:
            num=num*i
            a=a/i
            b=b/i
        elif a%i==0:
            num=num*i
            a=a/i
        elif b%i==0:
            num=num*i
            b=b/i
        else:
            num=num*1
    print(num)
else:
    num=num*1

24

Given two numbers, find its Greatest Common Divisor (Divisor).

In [15]:
# a=int(input("a"))
# b=int(input("b"))
# num=1
# if a==b:
#     print("gcd is",a)
# elif a>b:
#     for i in range(2,b):
#         if a%i==0 and b%i==0:
#             num=num*i
#             a=a/i
#             b=b/i
#     print("gcd is",num)
# elif b>a:
#     for i in range(2,a):
#         if a%i==0 and b%i==0:
#             num=num*i
#             a=a/i
#             b=b/i
#     print("gcd is",num)
# else:
#     print("gcd is",num)

gcd is 9

Given a positive integer, find out all prime numbers from 1 up to this number.

In [63]:
i=int(input("i"))
for a in range(2,i+1):
    count=0
    for i in range(2,a):
        if a%i==0:
            count=count+1
        else:
            count=count+0
    if count==0:
        print(a)

2
3
5
7
11
13
17
19
23
29
31
37
41
43

Given a positive integers, find out the sum of all prime numbers from 1 up to this number.

In [65]:
i=int(input("i"))
sum=0
for a in range(2,i+1):
    count=0
    for i in range(2,a):
        if a%i==0:
            count=count+1
        else:
            count=count+0
    if count==0:
        sum=sum+a
print(sum)

28

Given a list of numbers, find out how many times each number occurs in the list.

In [67]:
lst=[6,5,9,5,6,4,7,8,5,6,3,2,4,8,9,6,5,4,8,123,6,6,9,8,2,4]
for i in lst:
    num=0
    for j in lst:
        if i==j:
            num=num+1
        else:
            num=num+0
    print(i,"occurs in the list",num,"times")

6 occurs in the list 6 times
5 occurs in the list 4 times
9 occurs in the list 3 times
5 occurs in the list 4 times
6 occurs in the list 6 times
4 occurs in the list 4 times
7 occurs in the list 1 times
8 occurs in the list 4 times
5 occurs in the list 4 times
6 occurs in the list 6 times
3 occurs in the list 1 times
2 occurs in the list 2 times
4 occurs in the list 4 times
8 occurs in the list 4 times
9 occurs in the list 3 times
6 occurs in the list 6 times
5 occurs in the list 4 times
4 occurs in the list 4 times
8 occurs in the list 4 times
123 occurs in the list 1 times
6 occurs in the list 6 times
6 occurs in the list 6 times
9 occurs in the list 3 times
8 occurs in the list 4 times
2 occurs in the list 2 times
4 occurs in the list 4 times

Given a list of integers, find all pairs of integers in the list whose sum is zero.

In [68]:
lst=[6,8,4,3,6,9,5,2,1,2,3,6,9,8,7,4,5,6,1,2,3,-5,-4,-6,-2,-4,-6,-9,-1]
for i in lst:
    if i>0:
        for j in lst:
            if i==(-j):
                print("pair of",i,"and",j,"makes zero")

pair of 6 and -6 makes zero
pair of 6 and -6 makes zero
pair of 4 and -4 makes zero
pair of 4 and -4 makes zero
pair of 6 and -6 makes zero
pair of 6 and -6 makes zero
pair of 9 and -9 makes zero
pair of 5 and -5 makes zero
pair of 2 and -2 makes zero
pair of 1 and -1 makes zero
pair of 2 and -2 makes zero
pair of 6 and -6 makes zero
pair of 6 and -6 makes zero
pair of 9 and -9 makes zero
pair of 4 and -4 makes zero
pair of 4 and -4 makes zero
pair of 5 and -5 makes zero
pair of 6 and -6 makes zero
pair of 6 and -6 makes zero
pair of 1 and -1 makes zero
pair of 2 and -2 makes zero

Given a string input, find out if it contains a particular substring.

In [74]:
a="gajanand mourya"
b="gajanand"
if b in a:
    print("yes")

yes

Given a string input, find out if it’s a palindrome.

In [76]:
a=input("enter a name")
palin=""
for i in a:
    palin=i+palin
print(palin)

dnanajag

Convert these two lists into a dictionary. Take the keys from the first list, and values from the second one.
keys = [‘Ten’, ‘Twenty’, ‘Thirty’]
values = [10, 20, 30]

In [78]:
keys = ["ten","twenty","thirty"]
values = [10, 20, 30]
d=dict(zip(keys,values))
print(d)

{'ten': 10, 'twenty': 20, 'thirty': 30}

Merge these two dictionaries into one using for loop
dict1 = {‘Ten’: 10, ‘Twenty’: 20, ‘Thirty’: 30}
dict2 = {‘Thirty’: 30, ‘Fourty’: 40, ‘Fifty’: 50}

In [83]:
dict1 = {"Ten": 10, "Twenty": 20, "Thirty": 30}
dict2 = {"Thirty": 30, "Fourty": 40, "Fifty": 50}
print(dict1|dict2)
print({**dict1,**dict2})

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Check if a key exists in a dictionary:
sample_dict = {‘a’: 100, ‘b’: 200, ‘c’: 300}
key_needed = ‘d’
Check if a value exists in a dictionary:
sample_dict = {‘a’: 100, ‘b’: 200, ‘c’: 300}
value_needed = 200

In [88]:
sample_dict = {"a":100,"b":200,"c":300}
key_needed = "d"
if key_needed in sample_dict.keys():
    print("yes",key_needed," is present in",sample_dict)
else:
    print("no",key_needed,"is not present in",sample_dict)
sample_dict = {"a":100,"b":200,"c":300}
value_needed = 200
if value_needed in sample_dict.values():
    print("yes",value_needed,"is present in",sample_dict)
else:
    print("no",value_needed,"is not present in",sample_dict)

no d is not present in {'a': 100, 'b': 200, 'c': 300}
yes 200 is present in {'a': 100, 'b': 200, 'c': 300}

Create a new dictionary so that it only has the keys mentioned in another list
sample_dict = { “name”: “Kelly”, “age”: 25, “salary”: 8000, “city”: “New york”}
# Keys to extract
keys = [“name”, “salary”]

In [92]:
sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
key = ["name", "salary"]
new_dict={keys:sample_dict[keys] for keys in key if keys in sample_dict}
print(new_dict)

{'name': 'Kelly', 'salary': 8000}

Remove a key from a dictionary:
dict_name.pop(key_name)
What does this function return?
Use pop to rename a key.

In [98]:
sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
sample_dict.pop("name")
# print(sample_dict)

'Kelly'

Create a dictionary to store the total marks of 5 students in the class in 3 subjects (Course1, Course2, Course3). The keys must be the student names, and the values must be the list of marks. Create another list which has the course names in the same order as the marks are stored in the dictionary values. Now write a nested for loop to print the marks for each student exam wise.
Student1
Course1 marks : 82
Course2 marks : 84
Course3 marks : 72
Student2
Course1 marks : 87
Course2 marks : 83
Course3 marks : 78

In [104]:
course=["course1","course2","course3"]
marks=[82,84,72]

TypeError: must be str, not int