# Section 1 : List Basics

In [2]:
# Input several numbers from the user using the input function in one go (each number separated by a space)
string = input("Enter elements (Space-Separated): ")
list_of_inputs = string.split() # splits the string into small elements separated by comma and enclosed in quotations.

print(type(list_of_inputs))

print(list_of_inputs)

<class 'list'>
['h', 't', 'u']

In [6]:
# Make a list of marks that you got in Physics, Chemistry and Maths in your +2 board exam
# Write the marks manually without using the input function
sub=["physics","chemistry","maths"]
marks12=[94,93,90]
print(type(marks12))
print(marks12)
len_sub=len(sub)   # function to find no. of elements in list.
print(marks12[1])
print(marks12[2])
print(marks12[len_sub-1])  #marks[index of the element]
print(sub[-1])     # -1 gives the last element of a list
print(sub[-2])
print(sub[-3])
marks12[1]=98
marks12[2]=99
print(marks12[1])
print(marks12[2])

<class 'list'>
[94, 93, 90]
93
90
90
maths
chemistry
physics
98
99

In [17]:
# Print the list

[94, 93, 90, 85]

In [ ]:
# Find the length of the list

In [ ]:
# Print the first element of the list

In [ ]:
# Print the last element of the list

In [ ]:
#  Print the second element of the list

In [ ]:
# Change your marks for Chemistry and Maths in this list

# Section 2 : Simple List functions

In [32]:
# Append your marks for Hindi or English to this list
marks12=[94,93,90]
marks12.append(85)
print(marks12)

[94, 93, 90, 85]

In [31]:
# Create a blank list and append your marks for P, C, M and Language in +2 one by one to this list using the append function
# Once done, find the length of the list

marks12=[]
marks12.append(94)
marks12.append(93)
marks12.append(90)
print(marks12)

[94, 93, 90]

In [10]:
# Create a new blank list and append your marks for Science, Math and Language in 10th class one by one to this list using the append function
# Once done, find the length of the list
marks10=[]
marks10.append(88)
marks10.append(97)
marks10.append(85)
print(marks10)

[88, 97, 85]

In [12]:
# Create a new blank list and add to it the marks for +2 and 10th class from the above lists using the extend function
marks=[]
marks.append(marks12)
marks.extend(marks10)
print(marks)

[88, 97, 85]

In [17]:
# Reverse the above list using the list_name.reverse() function
num=[1,5,9,6,3,2,1,4,4,78]
num.reverse()
print(num)

[78, 4, 4, 1, 2, 3, 6, 9, 5, 1]

In [18]:
# Reverse the above (reversed) list using list(reversed(list_name)) function. So you should get back the original list
list(reversed(num)) #reverses the updated list

[1, 5, 9, 6, 3, 2, 1, 4, 4, 78]

In [82]:
# Remove the Maths marks from all the three lists using list_name.remove(element) funct
num.remove(3)    #it will also remove the element from previous codes i.e. updates the original list
print(num)

[1, 2, 6, 9, 5, 1]

In [87]:
# Before trying to remove an element, better to check if its even there in the list or not
if 4 in num:
    print("yes")
else:
    print("no")

no

# Section 3 : List Slicing

In [23]:
# From the list of all marks, print all the items from second marks onwards
marks=[52,65,98,3,54,69,54]
print(marks[1:7:2])

[65, 3, 69]

In [ ]:
# From the list of all marks, print all the items from second marks up to the fourth marks

In [ ]:
# From the list of all marks, print all the items from second marks up to the penultimate marks

In [ ]:
# Print every element at the odd position in the list

In [6]:
# Print every element at the even position in the list
print(marks[0:7:2])

[52, 98, 54, 54]

# Section 4 : Simple List computations

In [98]:
# Find the sum of all the marks in your list using the sum(list_name) function
sum(marks)

395

In [99]:
# Find the maximum of all the marks in your list using the max(list_name) function

max(marks)

98

In [103]:
# Find the minimum of all the marks in your list using the min(list_name) function
min(marks)

3

In [104]:
#  To find average of numbers
avg=sum(marks)/len(marks)
print(avg)

56.42857142857143

# Section 5 : Create a List using the range() function

In [128]:
# Create a list of integers using the list(range(n)) function, where n can be any integer within the limits of your computer

list_of_numbers=list(range(101))
print(list_of_numbers)
print(sum(list_of_numbers))
print(sum(list_of_numbers)/len(list_of_numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
5050
50.5

In [131]:
# What does this function give : list(range(n1, n2))
listi=list(range(50))
print(listi)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [134]:
# What does this function give : list(range(n1, n2, n3))
listo=list(range(1,51,2))
print(listo)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [136]:
# Create a list of first 100 integers, and find their sum
listu=list(range(1,101))
print(listu)
sum(listu)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

5050

In [137]:
# Create a list of first 100 integers, and find their average
print(sum(listu)/len(listu))

50.5

In [142]:
# Create a list of even numbers in the range 1-100, and find their sum as well as average
listr=list(range(0,100,2))
print(listr)
print(sum(listr))
print(sum(listr)/len(listr))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
2450
49.0

In [144]:
# Create a list of odd numbers in the range 1-100, and find their sum as well as average
listee=list(range(1,101,2))
print(listee)
print(sum(listee))
print(sum(listee)/len(listee))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
2500
50.0

In [24]:
# Make a copy of your list and change the first element of this new list. See what happens to the original list

list1=[1,6,5,8,9,2,7]
list2=list1.copy()
list2[0]=20
print(list2)

[20, 6, 5, 8, 9, 2, 7]

# Section 6 : DIY Exercises

In [9]:
# In a given list of numbers, swap the first and last element
lista=[1,5,6,2,4,7,9,5,4,78]
num=lista[0]
lista[0]=lista[-1]
lista[-1]=num
print(lista)

[78, 5, 6, 2, 4, 7, 9, 5, 4, 1]

In [18]:
# In a given list of numbers, swap the second and fourth element
listoo=[1,5,6,3,2,4,7,8,9,55,66,11,44,88,99]
num=listoo[1]
listoo[1]=listoo[3]
listoo[3]=num
print(listoo)

[1, 3, 6, 5, 2, 4, 7, 8, 9, 55, 66, 11, 44, 88, 99]

In [17]:
# Take a list of two numbers and arrange them in ascending order
listi=[8,4]
if listi[0]<listi[1]:
    print("listi is already in accending order")
else:
    num=listi[0]
    listi[0]=listi[1]
    listi[1]=num
    print(listi)

[4, 8]

In [3]:
# create two lists: one having 10th class board marks and another having +2 board marks 
# create another list that contain both the lists
marks10=[97,88,85]
marks12=[94,93,90]
combi=[]
combi.append(marks10)
combi.append(marks12)
print(combi)

[[97, 88, 85], [94, 93, 90]]

In [2]:
# In the above list of lists, print the marks in the 2nd element of the first list
print(combi[0][1])

88

In [ ]:
# Reference for further learning : https://www.geeksforgeeks.org/python-lists/